@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1em;
  background-color: rgba(121, 68, 140, 0.867);
}